#helpMe-scss{
    width: 45%;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
}
#helpMe-scss i{
    font-size: 50px;
}
#smsPage{
    width: 45%;
    height: 600px;
}

#hp-inp{
   width: 47%; 
}
#dvch{
    width: 220px;
    height: 70px;
    border-radius: 10px;
    border-top-left-radius: 2rem;
}
#dvc{
    width: 260px;
    height: 90px;
    border-radius: 10px;
    border-top-Right-radius: 2rem;
}
#twoi{
    border-top-right-radius: 2rem;
}
