

.img1 {
    width: 100px;
    height: 100px;
}
.img2 {
    width: 100px;
    height: 100px;
}
.img3 {
    width: 100px;
    height: 100px;
}
.img4 {
    width: 100px;
    height: 100px;
}
.img5 {
    width: 100px;
    height: 100px;
}

.bigIMG {
    width: 450px;
    height: 450px;
}
.bigImgDiv {
    width: 580px;
    height: 580px;
}

.divIMG {
    background-color: #F9F9F9;
}
.containerNAV {
    background-color: #F9F9F9;
}
.divCART {
    height: 120px;
}

#imgPAYME {
    width: 70px;
    height: 70px;
}